{% extends 'base.html' %}

{% block body %}

    <div class="container mt-4">
        <h1 class="display-2 text-dark">Comunidade Lemur</h1>
        <h4 class="text-dark">Alunos, experts e entusiastas de tecnologia</h4>
        <hr>
        {% for post in posts%}
            <div class="row mt-4 p-3 post">
                <div class="col col-4">
                    <div class="image pe-3">
                        <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil))}}" class="rounded-circle" width="100"><br>
                        <strong>{{post.autor.username}}</strong>

                        <div class="row mt-3">
                            <div class="col">
                                {% for curso in post.autor.cursos.split(';') %}
                                    <button type="button" class="btn btn-success mt-2" disabled>{{ curso }}</button>
                                {% endfor %}
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="col col-8">
                    <a href="{{url_for('exibir_post', post_id = post.id)}}" style="text-decoration: none;">
                        <h3 class="mb-3" >{{post.titulo}}</h3>
                    </a>
                    <p>{{post.corpo}}</p>
                </div>
            </div>
        {% endfor%}
    </div>

{% endblock %}