{% extends 'base.html' %}

{% block body %}

    <div class="container mt-4">
            <div class="row mt-4 p-3 post">
                <div class="col col-4">
                    <div class="image pe-3">
                        <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil))}}" class="rounded-circle mb-3" width="100"><br>
                        <strong>Autor: {{post.autor.username}}</strong>
                        <div class="row mt-3">
                            <div class="col">
                                {% for curso in post.autor.cursos.split(';') %}
                                    <button type="button" class="btn btn-success mt-2" disabled>{{ curso }}</button>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-8">
                    <h3 class="mb-3">{{post.titulo}}
                        <small style="font-size: 13px;" class="text-muted" > <br> Data de Criação: {{ post.data_criacao.strftime('%d/%m/%Y') }}
                        {% if form %}
                                <a style="text-decoration: none;" href="#form_editarpost">- Editar Post |</a> 
                                <a style="text-decoration: none;" class="text-danger" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Excluir Post</a> 
                        </small>
                        {% endif %}
                    </h3> 
                    
                    <p>{{post.corpo}}</p>
                </div>
            </div>
    </div>

{% if form %}


    <div class="container mb-3 ">
        <div class="row">
        <div class="col-8 mx-auto">
            <form action="" method="POST" id="form_editarpost" class="border mt-5 p-4">
            {{ form.csrf_token }}
            <legend>Editar Post</legend>
            <fieldset>
                <div class="form-group ">
                {{form.titulo.label(class='form-control-label')}}
                {% if form.titulo.errors %}
                    {{form.titulo(class='form-control is-invalid')}}
                    <div class="invalid-feedback">
                    {% for erro in form.titulo.errors %}
                        {{ erro }}
                    {% endfor %}
                    </div>
                    {% else %}
                    {{form.titulo(class='form-control')}}
                {% endif %}
                </div>

                <div class="form-group ">
                {{form.corpo.label(class='form-control-label')}}
                {% if form.corpo.errors %}
                    {{form.corpo(class='form-control is-invalid')}}
                    <div class="invalid-feedback">
                    {% for erro in form.corpo.errors %}
                        {{ erro }}
                    {% endfor %}
                    </div>
                    {% else %}
                    {{form.corpo(class='form-control')}}
                {% endif %}
                </div>
            </fieldset>
            {{form.botao_submit(class='btn btn-primary mt-4')}}
            </form>
        </div>
        </div>
    </div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 " id="exampleModalLabel">Excluir Post</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
          Você realmente deseja excluir esse post? (Essa ação não pode ser desfeita)
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <form action="{{ url_for('excluir_post', post_id = post.id )}}" method="POST">
              <button type="submit" class="btn btn-danger">Excluir</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}