{% extends 'base.html' %}

{% block body %}

    <div class="container mt-5">
        <div class="row">
            <div class=" col-6">
                <h2 class="mb-4">Sobre Nós</h2>
                <p>Bem-vindo à Comunidade Lemur! Somos um espaço online dedicado a entusiastas da tecnologia, onde você pode compartilhar seu amor pela inovação e descobrir pessoas que compartilham os mesmos interesses. Aqui, buscamos promover a colaboração, o aprendizado e o networking em uma plataforma simples e intuitiva.</p>
                <p>Junte-se a nós para explorar o mundo da tecnologia e fazer parte de uma comunidade apaixonada por avanços tecnológicos. Conecte-se, inspire-se e descubra novas possibilidades na Comunidade Lemur!</p>
                <div class="mt-5">
                    <a href="/">
                        <img src="../../static/imagens/logo.png" alt="Logotipo" style="width: 70px; height: 70px;">
                    </a>
                    <a href="https://github.com/thiagodeloreto">
                        <img class="me-4" src="../../static/imagens/github.png" alt="Logotipo" style="width: 50px; height: 50px;">
                    </a>
                    <a href="https://www.linkedin.com/in/thiago-de-loreto-39136b21a/">
                        <img src="../../static/imagens/linkedin.png" alt="Logotipo" style="width: 50px; height: 50px;">
                    </a>
                </div>
            </div>
            <div class="col-6">
                <img src="../../static/imagens/sobre_nos.jpg" alt="Logotipo" style="width: 550px; height: 380px;">
            </div>
        </div>
    </div>
    
{% endblock %}
